/* Write your CSS here */
.timeline-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}

.project-name {
  color: #171f46;
  width: 250px;
  text-align: center;
  line-height: 1.5;
}
.chrono-container {
  height: 400;
  width: 400;
}
